Repository behave/behave, pull requests merged in 2020-12, with the labels that each got.

#877 API reference - Capitalizing Steps on Steps function
  docs/api.rst
Labels: docs

#867 Test against PowerPC CPU support (Travis)
  .travis.yml
Labels: infrastructure

#819 Add context.attach method to embed files in JSON reports
  behave/formatter/json.py
  behave/runner.py
  docs/formatters.rst
  features/formatter.json.feature
Labels: formatter
